<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="/static/style.css"/>
    <meta charset="UTF-8">
    <title>Home EpiCounter</title>
</head>
<body>
    <h1>EpiCounter</h1>
    <h2 id="my-hour"></h2>
    <script>
        function getTime() {
            var date = new Date();
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var seconds = date.getSeconds();
            hours = ((hours < 10) ? " 0" : " ") + hours;
            minutes = ((minutes < 10) ? ":0" : ":") + minutes;
            seconds = ((seconds < 10) ? ":0" : ":") + seconds;
            var myHour = document.getElementById("my-hour");
            myHour.textContent = hours + minutes + seconds;
            setTimeout("getTime()", 1000);
        }
        getTime();
    </script>
    <h2 id="grid"></h2>
    <script>
        var request = new XMLHttpRequest();

        request.open('GET', 'http://127.0.0.1:5000/rooms', false);
        request.onload = function () {
            var data = JSON.parse(this.response);
            var i = 0;

            if (request.status >= 200 && request.status < 400) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open("GET", "http://127.0.0.1:5000/?format=json&current=true", false);
                xmlHttp.send();
                var dataRooms = JSON.parse(xmlHttp.responseText);
                data.forEach((sub_data) => {
                    var room = document.createElement('h4');
                    room.className = "room";
                    room.id = sub_data + "_" + i;
                    room.textContent = sub_data;
                    var nb = document.createElement('h5');
                    nb.className = "nb";
                    nb.id = sub_data + "_room";
                    nb.textContent = dataRooms[sub_data][0] + " / " + dataRooms[sub_data][1];
                    document.getElementById("grid").appendChild(room);
                    document.getElementById("grid").appendChild(nb);
                    i += 1;
                })
            } else {
                console.log('error');
            }
        }
        request.send();
    </script>
    <script>
        var request = new XMLHttpRequest();
        request.open("GET", "http://127.0.0.1:5000/rooms", false);
        request.send();
        var data = JSON.parse(request.responseText);
        function doUpdate() {
            var i = 0;
            var content2 = document.getElementsByClassName("nb");
            if (content2.length !== 0) {
                var httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "http://127.0.0.1:5000/?format=json&current=true", false);
                httpRequest.send();
                var dataRooms = JSON.parse(httpRequest.responseText);
                data.forEach((sub_data) => {
                    console.log(dataRooms[sub_data][0] + " " + sub_data)
                    content2.item(i).textContent = dataRooms[sub_data][0] + " / " + dataRooms[sub_data][1];
                    if (dataRooms[sub_data][0] >= dataRooms[sub_data][1]) {
                        content2.item(i).style.color = "red";
                    } else if (dataRooms[sub_data][0] + 5 >= dataRooms[sub_data][1]) {
                        content2.item(i).style.color = "orange";
                    } else {
                        content2.item(i).style.color = "green";
                    }
                    i += 1;
                });
            }
            setTimeout("doUpdate()", 1000);
        }
        doUpdate();
    </script>
</body>
</html>