<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css"/>
    <title>{{Title}}</title>
</head>
<body>
    <h1>{{Title}}</h1>
    <h2 id="nb"></h2>
    <script>
        function doUpdate() {
            var content2 = document.getElementById("nb");
            var httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "http://127.0.0.1:5000/?format=json&current=true", false);
            httpRequest.send();
            var dataRooms = JSON.parse(httpRequest.responseText);
            content2.textContent = dataRooms["{{Title}}"][0] + " / " + dataRooms["{{Title}}"][1];
            if (dataRooms["{{Title}}"][0] >= dataRooms["{{Title}}"][1]) {
                content2.style.color = "red";
            } else if (dataRooms["{{Title}}"][0] + 5 >= dataRooms["{{Title}}"][1]) {
                content2.style.color = "orange";
            } else {
                content2.style.color = "green";
            }
            setTimeout("doUpdate()", 1000);
        }
        doUpdate();
    </script>
    <center>
        <img
            src="/static/images/{{Title}}.png"
            height="450px"
            width="600px"
        />
        <br>
        <a href="/{{Title}}/set">{{account}}</a>
    </center>
</body>
</html>