<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css"/>
    <meta charset="UTF-8">
    <title>Room set</title>
</head>
<body>
    <h1>{{room_name}}</h1>
    <h2 id="nb"></h2>
    <script>
        function doUpdate() {
            var content = document.getElementById("nb");
            var httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "http://127.0.0.1:5000/?format=json&current=true", false);
            httpRequest.send();
            var dataRooms = JSON.parse(httpRequest.responseText);
            content.textContent = dataRooms["{{room_name}}"][0] + " / " + dataRooms["{{room_name}}"][1]
            if (dataRooms["{{room_name}}"][0] >= dataRooms["{{room_name}}"][1]) {
                content.style.color = "red";
            } else if (dataRooms["{{room_name}}"][0] + 5 >= dataRooms["{{room_name}}"][1]) {
                content.style.color = "orange";
            } else {
                content.style.color = "green";
            }
            setTimeout("doUpdate()", 1000);
        }
        doUpdate();
    </script>
    <center>
        <input id="inputNB" type="number" step="1" value="0" min="0">
        <script>
            var httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "http://127.0.0.1:5000/{{room_name}}?format=json&current=true", false);
            httpRequest.send();
            var inputNB = document.getElementById("inputNB");
            inputNB.value = parseInt(httpRequest.responseText);
        </script>
        <form>
            <input id="validation" type="button" value="Validation" onclick="sendUpdate()">
        </form>
        <script>
            function sendUpdate() {
                var inputNB = document.getElementById("inputNB")
                document.location.href = "http://127.0.0.1:5000/{{room_name}}/set?newval=" + inputNB.value;
            }
        </script>
        <a href="/{{room_name}}">Back</a>
    </center>
</body>
</html>